<ion-header>
  <ion-toolbar>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="products-list">
    <ion-card>
      <ion-img src="assets/images/brocolis.png" class="product-image"></ion-img>
      <ion-card-content>
        <h2>Brócolis</h2>
        <p>R$ 6.00</p>
        <ion-button expand="full" color="primary" (click)="addToCart({ id: 1, name: 'Brócolis', price: 6.00, quantity: 0, imageurl: 'assets/images/brocolis.png' })">
          <ion-icon name="add-circle-outline"></ion-icon>
          +
        </ion-button>
        <ion-button expand="full" color="danger" (click)="removeFromCart({ id: 1, name: 'Brócolis', price: 6.00, quantity: 0, imageurl: 'assets/images/brocolis.png' })">
          <ion-icon name="remove-circle-outline"></ion-icon>
          -
        </ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-img src="assets/images/alface.png" class="product-image"></ion-img>
      <ion-card-content>
        <h2>Alface</h2>
        <p>R$ 2.50</p>
        <ion-button expand="full" color="primary" (click)="addToCart({ id: 2, name: 'Alface', price: 2.50, quantity: 0, imageurl: 'assets/images/alface.png' })">
          <ion-icon name="add-circle-outline"></ion-icon>
          +
        </ion-button>
        <ion-button expand="full" color="danger" (click)="removeFromCart({ id: 2, name: 'Alface', price: 2.50, quantity: 0, imageurl: 'assets/images/alface.png' })">
          <ion-icon name="remove-circle-outline"></ion-icon>
          -
        </ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-img src="assets/images/tomate.png" class="product-image"></ion-img>
      <ion-card-content>
        <h2>Tomate</h2>
        <p>R$ 6.00</p>
        <ion-button expand="full" color="primary" (click)="addToCart({ id: 3, name: 'Tomate', price: 6.00, quantity: 0, imageurl: 'assets/images/tomate.png' })">
          <ion-icon name="add-circle-outline"></ion-icon>
          +
        </ion-button>
        <ion-button expand="full" color="danger" (click)="removeFromCart({ id: 3, name: 'Tomate', price: 6.00, quantity: 0, imageurl: 'assets/images/tomate.png' })">
          <ion-icon name="remove-circle-outline"></ion-icon>
          -
        </ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-img src="assets/images/pimentaoVerde.png" class="product-image"></ion-img>
      <ion-card-content>
        <h2>Pimentão Verde</h2>
        <p>R$ 4.00</p>
        <ion-button expand="full" color="primary" (click)="addToCart({ id: 4, name: 'Pimentão Verde', price: 4.00, quantity: 0, imageurl: 'assets/images/pimentaoVerde.png' })">
          <ion-icon name="add-circle-outline"></ion-icon>
          +
        </ion-button>
        <ion-button expand="full" color="danger" (click)="removeFromCart({ id: 4, name: 'Pimentão Verde', price: 4.00, quantity: 0, imageurl: 'assets/images/pimentaoVerde.png' })">
          <ion-icon name="remove-circle-outline"></ion-icon>
          -
        </ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-img src="assets/images/maca.png" class="product-image"></ion-img>
      <ion-card-content>
        <h2>Maçã</h2>
        <p>R$ 5.00</p>
        <ion-button expand="full" color="primary" (click)="addToCart({ id: 5, name: 'Maçã', price: 5.00, quantity: 0, imageurl: 'assets/images/maca.png' })">
          <ion-icon name="add-circle-outline"></ion-icon>
          +
        </ion-button>
        <ion-button expand="full" color="danger" (click)="removeFromCart({ id: 5, name: 'Maçã', price: 5.00, quantity: 0, imageurl: 'assets/images/maca.png' })">
          <ion-icon name="remove-circle-outline"></ion-icon>
          -
        </ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-img src="assets/images/banana.png" class="product-image"></ion-img>
      <ion-card-content>
        <h2>Banana</h2>
        <p>R$ 3.00</p>
        <ion-button expand="full" color="primary" (click)="addToCart({ id: 6, name: 'Banana', price: 3.00, quantity: 0, imageurl: 'assets/images/banana.png' })">
          <ion-icon name="add-circle-outline"></ion-icon>
          +
        </ion-button>
        <ion-button expand="full" color="danger" (click)="removeFromCart({ id: 6, name: 'Banana', price: 3.00, quantity: 0, imageurl: 'assets/images/banana.png' })">
          <ion-icon name="remove-circle-outline"></ion-icon>
          -
        </ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-img src="assets/images/laranja.png" class="product-image"></ion-img>
      <ion-card-content>
        <h2>Laranja</h2>
        <p>R$ 4.00</p>
        <ion-button expand="full" color="primary" (click)="addToCart({ id: 7, name: 'Laranja', price: 4.00, quantity: 0, imageurl: 'assets/images/laranja.png' })">
          <ion-icon name="add-circle-outline"></ion-icon>
          +
        </ion-button>
        <ion-button expand="full" color="danger" (click)="removeFromCart({ id: 7, name: 'Laranja', price: 4.00, quantity: 0, imageurl: 'assets/images/laranja.png' })">
          <ion-icon name="remove-circle-outline"></ion-icon>
          -
        </ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-img src="assets/images/morango.png" class="product-image"></ion-img>
      <ion-card-content>
        <h2>Morango</h2>
        <p>R$ 10.00</p>
        <ion-button expand="full" color="primary" (click)="addToCart({ id: 8, name: 'Morango', price: 10.00, quantity: 0, imageurl: 'assets/images/morango.png' })">
          <ion-icon name="add-circle-outline"></ion-icon>
          +
        </ion-button>
        <ion-button expand="full" color="danger" (click)="removeFromCart({ id: 8, name: 'Morango', price: 10.00, quantity: 0, imageurl: 'assets/images/morango.png' })">
          <ion-icon name="remove-circle-outline"></ion-icon>
          -
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="totalItems > 0">
    <ion-fab-button (click)="openCartModal()">
      {{ totalItems }}
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-modal [isOpen]="isCartModalOpen" (ionModalDidDismiss)="closeCartModal()">
  <ion-header>
    <ion-toolbar>
      <ion-title>Carrinho</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeCartModal()">Fechar</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list *ngIf="cart.length > 0; else emptyCart">
      <ion-item *ngFor="let item of cart">
        <ion-label>
          {{ item.name }} ({{ item.quantity }})
        </ion-label>
        <ion-note slot="end">
          R$ {{ (item.price * item.quantity).toFixed(2) }}
        </ion-note>
      </ion-item>
    </ion-list>
    <ng-template #emptyCart>
      <p style="text-align: center;">Seu carrinho está vazio.</p>
    </ng-template>
    <ion-footer>
      <ion-item lines="none">
        <ion-label><strong>Total</strong></ion-label>
        <ion-note slot="end"><strong>R$ {{ calculateTotal().toFixed(2) }}</strong></ion-note>
      </ion-item>
    </ion-footer>
  </ion-content>
</ion-modal>

<ion-modal [isOpen]="isCartModalOpen" (ionModalDidDismiss)="closeCartModal()">
  <ion-header>
    <ion-toolbar>
      <ion-title>Carrinho</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeCartModal()">Fechar</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content *ngIf="!isPaymentView">
    <ion-list *ngFor="let item of cart">
      <ion-item>
        <ion-label>
          {{ item.name }} ({{ item.quantity }})
        </ion-label>
        <ion-note slot="end">
          R$ {{ (item.price * item.quantity).toFixed(2) }}
        </ion-note>
      </ion-item>
    </ion-list>
    <ion-footer>
      <ion-item lines="none">
        <ion-label><strong>Total</strong></ion-label>
        <ion-note slot="end"><strong>R$ {{ calculateTotal().toFixed(2) }}</strong></ion-note>
      </ion-item>
      <div class="buttons-container">
        <ion-button color="success" (click)="showPaymentOptions()">Efetuar Pagamento</ion-button>
        <ion-button color="danger" (click)="cancelPurchase()">Cancelar</ion-button>
      </div>
    </ion-footer>
  </ion-content>
  <ion-content *ngIf="isPaymentView">
    <div *ngIf="!isCardPayment">
      <h2>Escolha o método de pagamento</h2>
      <div class="payment-icons">
        <ion-icon name="cash-outline" size="large" (click)="selectPixPayment()"></ion-icon>
        <ion-icon name="card-outline" size="large" (click)="selectCardPayment()"></ion-icon>
      </div>
    </div>
    <div *ngIf="isPixPayment">
      <h3>Pagamento via Pix</h3>
      <div class="pix-details">
        <ion-img src="assets/images/qrcode.png" alt="QR Code"></ion-img>
        <ion-button (click)="copyPixCode()">Copiar Código Pix</ion-button>
      </div>
    </div>
    <div *ngIf="isCardPayment">
      <h3>Cadastro do Cartão</h3>

      <ion-item>
        <ion-label position="floating">Número do Cartão</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Validade</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">CVV</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-button color="primary" expand="full" (click)="confirmCardPayment()">Confirmar Compra</ion-button>
    </div>
  </ion-content>
</ion-modal>
